*{
    margin:auto;
    padding: 0;
    font-family: 'Montserrat';
}

html, body {min-height: 100%;}
body{height: 100vh;}

html{
    background-color: #E7EBEF;
    box-sizing: border-box;
}

h1,h2,h3,h4,p{
    margin: 0;
}

.divider{
    height: 2rem;
    color: #E7EBEF;
    background-color: #E7EBEF;
}

.first{
    font-size: 24px;
    padding-left: 2%;
    padding-bottom: 2rem;
}

.emphasis{
    color: #778472;
    font-weight: 700;
}

.title{
    padding-left: 1rem;
    padding-bottom: 3rem;
    letter-spacing: 5px;
    line-height: 60px;
    font-size: 38px;
    font-weight: 500;
}

.subtitle{
    padding-left: 1rem;
    padding-bottom: 3rem;
    font-size: 26px;
    font-weight: normal;
}

.hero{
    background-color: #274C77;
    background-image: url(images/elPasoBlack.png);
    background-blend-mode: exclusion;
    padding: 5% 5%;
    background-size: cover;
    margin: 1% 5%;

}

.intro-card{
    background-color: white;
    min-width: 35%;
    margin: 0 48% 1% 0%;
    padding: 4% 0 2% 2%;
}

.logo{
    max-width: 12%;
    filter: brightness(500%);
    position: absolute;
    padding: 10px 50px 0px 50px;
}

.me{
    position: absolute;
    max-width: 32%;
    margin-top: -24%;
    margin-left: 48%;
    filter: drop-shadow(5px 10px 10px);
    z-index: 2;
}

.about{
    background-color: white;
    margin: 0 5%;
}

.projects{
    background-color: #778472;
    margin: 0 5%;
    padding: 88px 6.395348837% 32px 6.395348837%;
}

.contact{
    background-color: #274C77;
    margin: 0 5%;
    padding: 88px 6.395348837% 32px 6.395348837%;
}

.section-title{
    display: block;
    text-align: center;
    margin-top: -50px;
    font-weight: 800;
    font-size: 70px;
}

.about .section-title{
    margin-top: .25rem;
    color: #778472;
    opacity: 60%;
}

.projects, .contact .section-title{
    color: white;
}

.section-sub{
    display: block;
    text-align: center;
    margin-top: -2%;
    font-weight: 400;
    font-size: 34px;
    color: #E7EBEF;
}

.about .section-sub{
    color: #274C77;
}

.vl {
    border-left: 4px solid #778472;
    height: 3.5rem;
    position: absolute;
}

.quote p{
    margin-left: 10px;
}

.quote{
    font-size: 22px;
    margin: 5% 15% 4% 10%;
}

.text-body{
    font-size: 22px;
    margin: 3% 10%;
}

.title-wrapper .dynamic-txts{
    height: 90px;
    line-height:90px;
    overflow: hidden;
}

.title-wrapper .dynamic-txts li{
    color: #778472;
    list-style: none;
    font-size: 38px;
    font-weight:700;
    position: relative;
    top: 0;
    animation: slide 9s steps(4) infinite;
}
@keyframes slide {
    100%{
        top: -360px;
    }
    
}

.dynamic-txts li span{
    position: relative;
}

.dynamic-txts li span::after{
    content: "";
    left: 0;
    position: absolute;
    height: 140%;
    width: 100%;
    opacity: 1;
    background-color: white;
    border-left: 2px solid white;
    animation: typing 2.25s steps(24) infinite;
}
@keyframes typing {
    100%{
        left: 120%;
    }
}

.columns{
    width: min(90%, 85rem);
    display: grid;
    grid-template-columns: column;
}
@media (min-width: 45em){
    .columns{
        grid-auto-flow: column;
    }
    
}

.project{
    text-align: center;
    background-color: white;
}


.p-title{
    color: black;
    font-size: 20px;
    padding: 1rem;
}

.view{
    color: #000;
    background-color: #E7EBEF;
    display: block;
    font-size: 20px;
    line-height: 3em;
    width: 100%;
    font-weight: 600;
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1/2;
    grid-row: 1 / 5;
  }
  .two {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }

  .contact-body {
    position: relative;
    margin-top: -30px;
    padding-bottom: 50px;
    background-color: #f8f8f8;
}

.follow-me {
    font-size: 18px;
    padding-right: 12%;
    width: 100%;
    margin-right: 12%;
}

.follow-me ul {
    margin-top: 2%;
    list-style: none;
}

.follow-me li {
    height: 100%;
}

.follow-me li a {
    line-height: 5%;
}

.follow-me a, svg {
    vertical-align: middle;
    display: inline-block;
    padding: .5rem;
    color: #778472;
    text-decoration: none;
}


.follow-me svg {
    fill: #778472;
    max-width: 70px;
}

.container{
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    padding: 2%;
}


.submit{
    float: right;
    background-color: #778472;
    border: solid;
    padding: 1rem 3rem;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
    color: white;
}

header{
    padding: 1em 0 5em;
}

main{
    padding: 2%;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1% 2% 1% 50%;
}

nav a{
    display: inline-block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

nav a:hover,
nav a:focus{
    color: white;
    text-decoration: underline;
}

section{
    padding: 3% 1%;
}

input{
    border:solid 1px;
    border-color: #D0D4D9;
    border-radius: 10px;
    width: 500px;
    height: 40px;
}

textarea{
    border:solid 1px;
    border-color: #D0D4D9;
    border-radius: 10px; 
    width: 500px;
}

img{
    padding-top: 5%;
    max-width: 100%;
}


@media only screen and (min-width: 374px) and (max-width:811px){
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
      }
      .one {
        grid-column: 1/3;
        grid-row: 1 / 3;
      }
      .two {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
      }
      .three {
        grid-column: 1 / 3;
        grid-row: 5 / 5;
      }
    
    .contact .columns{
        width: 100%;
        gap: 5%;
        display: grid;
        grid-template-columns: column column;
    }


    input{
        border:solid 1px;
        border-color: #D0D4D9;
        border-radius: 10px;
        width: 100%;
        height: 40px;
    }
    
    textarea{
        border:solid 1px;
        border-color: #D0D4D9;
        border-radius: 10px; 
        width: 100%;
        height: 100%;

    }


    .follow-me {
        font-size: 20px;
        width: 100%;
    }
    
    .follow-me ul {
        margin-top: 10%;
        list-style: none;
    }
    
    .follow-me svg {
        max-width: 60px;
    }

    .container{
        font-size: 20px;
        font-weight: 600;
        background-color: white;
        padding: 8%;
    }
}


@media only screen and (min-width: 374px) and (max-width:1023px){
    .logo{
        min-width: 30%;
        max-width: 40%;
    }

    .intro-card{
        margin-left: 0;
        padding-left: 0;

        padding-top: 10%;
        min-width: 100%;
        justify-content: center;
        text-align: center;
    }

    .first{
        margin-left: 0;
        padding-left: 0;
        font-size: 20px;
    }

    .nav{
        font-size: 10px;
    }

    .title{
        line-height: 40px;
        font-size: 25px;
        margin-left: 0;
        padding-left: 0;
        padding-bottom: 0;
    }

    .subtitle{
        margin-left: 0;
        padding-left: 0;
        padding-bottom: 55%;
        font-size: 20px;
    }

    .me{
        position: absolute;
        max-width: 52%;
        margin-top: -50%;
        margin-left: 10%;
        filter: drop-shadow(0 5px 5px);
        z-index: 2;
    }

    .section-title{
        font-size: 40px;
    }

    .section-sub{
        margin-top: -2%;
        font-size: 30px;
    }
    
    nav a{
        display: none;
    }
    /* img{
        padding-top: 5%;
        max-width: 100%;
    } */
    .title-wrapper .dynamic-txts{
        height: 90px;
        line-height: 90px;
        overflow: hidden;
    }
    
    .title-wrapper .dynamic-txts li{
        color: #778472;
        list-style: none;
        font-size: 19px;
        font-weight:700;
        position: relative;
        top: 0;
        animation: slide 9s steps(4) infinite;
    }
    @keyframes slide {
        100%{
            top: -360px;
        }
        
    }
    
    .dynamic-txts li span{
        position: relative;
    }
    
    .dynamic-txts li span::after{
        content: "";
        left: 0;
        position: absolute;
        height: 250%;
        width: 100%;
        opacity: 1;
        background-color: white;
        border-left: 2px solid white;
        animation: typing 2.25s steps(24) infinite;
    }
    @keyframes typing {
        100%{
            left: 120%;
        }
    }

    .quote{
        font-size: 20px;
        margin: 0% 15% 15% 10%;
    }

    .text-body{
        font-size: 22px;
    }
    
}